==
<footer class="footer-border-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 d-flex align-items-center">
                <p class="text-footer">©2019 TIREX</p>
            </div>
            <div class="col-md-7 d-flex justify-content-center flex-footer">
                    <ul>
                        <li class="d-inline-block"><a class="classic" href="#"><span></span><i class="fab fa-facebook-f"></i></a></li>
                        <li class="d-inline-block"><a class="classic" href="#"><span></span><i class="fab fa-vk"></i></a></li>
                        <li class="d-inline-block"><a class="classic" href="#"><span></span><i class="fab fa-twitter"></i></a></li>
                        <li class="d-inline-block"><a class="classic" href="#"><span></span><i class="fab fa-telegram"></i></a></li>
                        <li class="d-inline-block"><a class="classic" href="#"><span></span><i class="fab fa-instagram"></i></a></li>
                        <li class="d-inline-block"><a class="classic" href="#"><span></span><i class="fab fa-youtube"></i></a></li>
                    </ul>
            
                    <div class="col-md-2"></div>
    </div>

</footer>