==
<header>
    <div class="container-fluid">
        <div class="row col-block">
            <div class="col-lg-6 col-sm-4 col-4">
                <div class="div d-flex">
                    <img src="assets/img/Union3.png" alt="">
                </div>
                <span class="miracle">Portal - MK Production</span>
            </div>
            <div class="col-lg-6 col-sm-8 col-8">
                <ul class="ul-main">
                    
                       <li><a href="tel:(+998) 99 814-07-93">(+998) 99 814-07-93</a> </li>
                       <li> <a href="#">Частые Вопросы</a></li>
                        <li><a href="#">Контакты</a></li>
                   
                </ul>
               
            </div>
        </div>
    </div>
</header>