==
<footer class="lock text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-sm-6 col-12 d-flex align-items-end">
                <p class="text-footer">©2019 TIREX</p>
            </div>
            <div class="col-lg-8 col-sm-6 col-12 d-flex justify-content-center d-col-block">
                <div class="man">
                    <a class="classic facebook-class" href="#"><span></span><i class="fab fa-facebook-f"></i></a>
                </div>
                <div class="man">
                    <a class="classic" href="#"><span></span><i class="fab fa-vk"></i></i></a>
                </div>
                <div class="man">
                    <a class="classic" href="#"><span></span><i class="fab fa-twitter"></i></a>
                </div>
                <div class="man">
                    <a class="classic" href="#"><span></span><i class="fab fa-telegram"></i></a>
                </div>
                <div class="man">
                    <a class="classic" href="#"><span></span><i class="fab fa-instagram"></i></a>
                </div>
                <div class="man">
                    <a class="classic youtube" href="#"><span></span><i class="fab fa-youtube"></i></a>
                </div>  
            </div>
        </div>
    </div>

</footer>