==
<footer> 
	<div class="container-fluid">
		<div class="row bg-white pr-5 pl-5 pt-3 pb-3">
			<div class="col-lg-6 col-sm-6 col-12">
				<p class="allusive m-0">Договор оферты</p>
			</div>
			<div class="col-lg-6 col-sm-6 col-12 tea">
			<p class=" m-0">Выбор языка</p>
			<a class="pr-2 pl-2" href="#"><img src="{{'assets/img/russia.png'|theme}}" alt=""></a>
			<a class="pr-2 pl-2" href="#"><img src="{{'assets/img/spain.png'|theme}}" alt=""></a>
			<a class="pr-2 pl-2" href="#"><img src="{{'assets/img/united-kingdom.png'|theme}}" alt=""></a>
			<a class="why" href="#"><i class="fas fa-question"></i></a>
			</div>
		</div>
	</div>
</footer>