==
<header class="box-div">
	<div class="container-fluid p-0">
		<div class="d-flex justify-content-between align-items-center">
			<div class="d-flex align-items-center">
				<div class="menu px-4">
				    <div class="menu__icon">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
				    </div>
					<p>Меню</p>
				    <div class="menu__links">
					    <div class="modal-link">
							<a class="modal-link"  href="{{ 'main' | page }}"><i class="fas fa-desktop pr-5 pl-3"></i>ГЛАВНАЯ</a>
						</div>
						<div class="modal-link">
							<a  href="{{'profile'|page}}"><i class="fas fa-user pr-5 pl-3"></i>МОЙ АККАУНТ</a>
						</div>
						<div class="modal-link">
							<a  href="{{'blocks'|page}}"><i class="fas fa-globe-europe pr-5 pl-3"></i>T-REX Marketing</a>
						</div>
						<div class="modal-link">
							<a  href="{{'checks'|page}}"><i class="far fa-receipt pr-5 pl-3"></i>ЧЕКИ</a>
						</div>
						<div class="modal-link">
							<a  href="{{'wallet'|page}}"><i class="fas fa-wallet pr-5 pl-3"></i>МОЙ КОШЕЛЕК</a>
						</div>
						<div class="modal-link">
							<a  href="{{'team'|page}}"><i class="fas fa-users-crown pr-5 pl-3"></i>МОЯ КОМАНДА</a>
						</div>
						<div class="modal-link">
							<a  href="{{'faq'|page}}"><i class="fas fa-question pr-5 pl-3"></i>Частые вопросы</a>
						</div>				 
					</div>
				</div>						
				<div class="flex-item px-4">
				    <a href="#" class="my-auto"><img src="{{'assets/img/Union3.svg'|theme}}" alt=""></a>
				</div>
			</div>
			<div class="none-link flex-grow-1">
				<a href="{{'main'|page}}"><i class="fas fa-desktop div-icon-link"></i></a>		
				<a href="{{'profile'|page}}"><i class="fas fa-user div-icon-link"></i></a>
				<a href="{{'blocks'|page}}"><i class="fas fa-globe-europe div-icon-link"></i></a>
				<a href="{{'checks'|page}}"><i class="far fa-receipt div-icon-link"></i></a>
				<a href="{{'payments'|page}}"><i class="fas fa-wallet div-icon-link"></i></a>
				<a href="{{'team'|page}}"><i class="fas fa-users-crown div-icon-link"></i></a>
				<a href="{{'faq'|page}}"><i class="fas fa-question div-icon-link"></i></a>			
			</div>
			<div class="p-0 name-akk-img mr-0 mr-lg-5 text-nowrap">				
				<nav class="navbar navbar-inverse p-0">
			    	<ul class="nav navbar-nav">
			      		<li class="dropdown">
			        		<a data-toggle="dropdown" href="#" class="padding-klient">	  
			        		    <img class="mr-2 border-all-img" alt=" {{ user.name }} " src="{{ user.avatar|resize(60, 60, {mode: 'crop'}) }}">
			        		<span class="caret bar-white bar-dark">{{ user.name }}</span></a>
			        		<ul class="dropdown-menu">
			          			<li class="plohospal mt-3 mb-3"><a class="text-white" href="{{ 'profile'|page }}"><i class="fas fa-user pr-3"></i>Мой аккаунт</a></li>
			          			<li class="plohospal mt-3 mb-3">
			          			    <a href="javascript:void()" data-request="onLogout" data-request-data="redirect: '/login'"class=" padding-klient text-white" href="#"><i class="fas fa-sign-out-alt pr-3"></i>Выйти</a>
			          		    </li>
			        		</ul>
			      		</li>
			    	</ul>
				</nav>
			</div>
	   </div>
	</div>
</header>