==
<form  data-request="onUpdate" data-request-files data-request-flash >
 	   <!--  <label for="email">Текущий пароль</label>
 	              <div class="input-group">    
 	               <input type="password" class="form-control input-styly input-group-prepend border-right-0 mb-3 text-white" placeholder="Пароль" name="password">
 	               <div class="input-group-append mb-3">
 	                   <div class="input-group-text border-left-0 input-styly">
 	                       <a href="">Забыли пароль?</a>
 	                   </div>
 	               </div>
 	           </div> -->
 
        <label for="email">Новый пароль</label>
        <div class="input-group">
            <input type="password" class="mb-3 form-control" name="password">
        </div>
         <label for="email">Подтвердите новый пароль</label>
        <div class="input-group">
            <input type="password" class="mb-3 form-control " name="password_confirmation">
        </div>
        	<button class="modal-btn">Изменить</button>                                  
</form>