==
<p class="lead">
    <strong>Забыли пароль?</strong> Нет проблем! Введите адрес электронной почты, чтобы подтвердить свой аккаунт.
</p>

<form
    data-request="{{ __SELF__ }}::onRestorePassword"
    data-request-update="'{{ __SELF__ }}::reset': '#partialUserResetForm'">
    <div class="form-group">
        <label class="text-white" for="userRestoreEmail">Email</label>
        <input name="email" type="email" class="form-control input-header" id="userRestoreEmail" placeholder="Enter your email">
    </div>

    <button type="submit" class="btn btn-default password-name-restore">Восстановить пароль</button>
</form>