[session]
security = "user"
redirect = "home"
==
<?php
use RainLab\User\Models\User;

public function onCheck() {
    $id = null;
    $result = "<div class='alert alert-danger'> User not found!</div>";
    
    if (input('parent_id')) {
       $id = input('parent_id');
    } elseif (input('user_id')) {
        $id = input('user_id');
    }
    
    $user = User::where('id', $id)->first();
    
    $image = isset($user->avatar->path) ? $user->avatar->path : "https://loremflickr.com/50/60/coin";
    
    if ($user) {
        $result = "<div class='alert alert-info'> <img style='width: 30px' class='mr-2' src='{$image}'> <strong> {$user->name} {$user->surname} </strong> </div>";
    }
    
    
    return [
        "#user-result" => $result
    ];
}
?>
==
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tirex</title>
	<link rel="stylesheet" href="{{'assets/css/bootstrap.css'|theme}}">
	<link rel="stylesheet" href="{{'assets/css/all.css'|theme}}">
	<link rel="stylesheet" href="{{'assets/css/main.css'|theme}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	{% partial 'site/top-menu' %}
	
	
	<div class="wrqp page-{{page.id}}"></div>
	{% page %}
	
	
	<section class="footer">
	    {% partial 'site/footer' %}
	</section>    
	
	
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="http://roshinjose.com/codepen/plugins.js"></script>
	{% scripts %}
	{% framework extras %}
	
	<script>
    (function($){
      $(function() {
        $('.menu__icon').on('click', function() {
          $(this).closest('.menu')
            .toggleClass('menu_state_open');
        });
        
        $('.modal-link').on('click', function() {
          // do something
    
          $(this).closest('.menu')
            .removeClass('menu_state_open');
        });
      });
    })(jQuery);
    $('#image').click(function() {
      $('#foo').addClass('myClass');
    });
    function viewDiv(){
      document.getElementById("foo").style.display = "block";
    };
    </script>
		
</body>
</html>