[session]
security = "guest"
redirect = "main"

[account]
redirect = "main"
paramCode = "code"
forceSecure = 0

[localePicker]
forceUrl = 0
==
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tirex</title>
	<link rel="stylesheet" href="{{'assets/css/bootstrap.css'|theme}}">
	<link rel="stylesheet" href="{{'assets/css/all.css'|theme}}">
	<link rel="stylesheet" href="{{'assets/css/main.css'|theme}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="particles-js">
    <canvas height="651" width="1366" style="width: 100%; height: 100%;"></canvas>
    </div>
    <div class="wrapper d-flex flex-column align-items-between">
    	{% partial 'site/default_top_menu' %}
	
	
	
    	{% page %}
    	
    	<section class="footer">
    	   {% partial 'site/default_footer' %}
    	</section>    
    </div>	
	
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="http://roshinjose.com/codepen/plugins.js"></script>
	<script src="{{'assets/js/fontawesome.min.js'|theme}}"></script>
    <script>
    	var app = {};
    app.ajax = 4;
    app.ui = {
        particle:false,
        particles:function(){
            if($('body').hasClass('white')){
                nb = 85;
            }else {
                nb = 95;
            }
            particlesJS('particles-js', {
                particles: {
                    background: '#B53E73',
                    color_random: false,
                    shape: 'circle', // "circle", "edge" or "triangle"
                    opacity: {
                        opacity: 3,
                        anim: {
                            enable: true,
                            speed: 1.5,
                            opacity_min: 0,
                            sync: false
                        }
                    },
                    size: 5,
                    size_random: true,
                    nb: nb,
                    line_linked: {
                        enable_auto: true,
                        distance: 130,
                        color: '#273CCE', // particles line color
                        opacity: 1,
                        width: 1,
                        condensed_mode: {
                            enable: true,
                            rotateX: 600,
                            rotateY: 600
                        }
                    },
                    anim: {
                        enable: true,
                        speed: 2
                    }
                },
                interactivity: {
                    enable: true,
                    mouse: {
                        distance: 500
                    },
                    detect_on: 'window', // "canvas" or "window"
                    mode: 'grab', // "grab" of false
                    line_linked: {
                        opacity: .5
                    },
                    events: {
                        onclick: {
                            enable: true,
                            mode: 'push', // "push" or "remove"
                            nb: 2
                        },
                        onresize: {
                            enable: true,
                            mode: 'out', // "out" or "bounce"
                            density_auto: false,
                            density_area: 800 // nb_particles = particles.nb * (canvas width *  canvas height / 1000) / density_area
                        }
                    }
                },
                /* Retina Display Support */
                retina_detect: true
            });
        },
    }
    
    $(function () {
        app.ui.particles();
        if  (Modernizr.localstorage) {
            if(localStorage.getItem("color") == "white") {
                $('body').addClass('white');
            }
        }
    });
    
    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
    })();
    
    $(function() {
      function init() {
        $('[data-behaviour="toggle-menu-icon"]').on('click', toggleMenuIcon);
        $('[data-behaviour="toggle-link-icon"]').on('click', toggleSubMenu);
      };
      
      function toggleMenuIcon() {
        $(this).toggleClass('menu-icon--open');
        $('[data-element="toggle-nav"]').toggleClass('nav--active');
      };
      
      function toggleSubMenu() {
        $(this).toggleClass('nav__link--plus nav__link--minus');
        $('[data-behaviour="toggle-sub-menu"]').slideToggle('nav__sub-list--active');
      };
      
      init()
    });
    </script>
	{% scripts %}
	{% framework extras %}
</body>
</html>